# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=admin-
DB_PASSWORD=
DB_NAME=

PORT=8080
FIXED_SALT=$2b$10$abcdefghijklmnopqrstuv

# Email Configuration
EMAIL_USER=
EMAIL_PASSWORD=

# JWT Configuration
JWT_SECRET=your_jwt_secret

STRIPE_SECRET_KEY=
G_DRIVE_FOLDER_ID=
G_DRIVE_SCOPE=
G_DRIVE_IMAGE_
G_DRIVE_SERVICE_AC=

