name: Build and Upload Artifacts

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with: 
          node-version: '20.x'
          cache: 'npm'

      - name: Install dependencies and Build
        run : |
          npm ci
          npm run build
          
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Service-API
          path: ./dist
        
      
    
